params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 3
    max_memory = '20.GB'
    max_time   = '6.h'

    // Input data
    bioproject                  = "PRJNA1102327"
    sra_accessions              = null
    email                       = "pgangavarapu@scripps.edu"
    metadata                    = "$PWD/metadata/SraRunTable_PRJNA1102327_automated.csv"
    fetch_and_pull              = true
    // Reference genome
    reference                  = null
    outdir                     = "$PWD/outputs"
}

process.executor = 'local'

executor {
    name = 'local'
    queueSize = 100
}

cleanup = true

conda.cacheDir = 'conda_cache'
